.LoadingTodo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    border-radius: 30px;
    padding: 12px 0;
}

.LoadingTodo-text {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #B6B0C3;
}

.LoadingTodo-container,
.LoadingTodo-completeIcon,
.LoadingTodo-deleteIcon {
    background: #0b0b14;
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
    0% {
        background-position: 0% 25%;
    }

    25% {
        background-position: 50% 25%;
    }

    100% {
        background-position: 0% 50%;
    }
}
