h1 {
    font-size: '24px';
    text-align: center;
    margin: 10px 24px 24px 24px;
    padding: '48px';
    padding-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF
}

.todo-counter {
    max-width: 650px;
    margin: 20px 24px 24px 24px;
}

.todo-counter input[type="range"] {
    width: 100%;
    margin-top: 12px;
    cursor: default;
    border-radius: 6px;
}
