h1 {
    font-size: '24px';
    text-align: center;
    margin: 20px;
    padding: '48px';
    font-family: 'Times New Roman', Times, serif;
    color: #27445D;

}

.todo-counter {
    max-width: 650px;
    margin: 0 auto 24px auto;
}

.todo-counter input[type="range"] {
    width: 100%;
    margin-top: 12px;
    cursor: default;
    border-radius: 6px;
}
