body {
    margin: 0;
    padding: 0;
    background: #DFF2EB;
    color: black;
    font-family: 'Monserrat', Arial, Arial, Helvetica, sans-serif ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
